<!-- This is the driver's dashboard which will have only those two edited and a button to start a live trip , everything else is to be deleted -->

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">Number of trips</p>
                        <h3 class="card-title">49/50
                            <small>trips</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Distance Covered</p>
                        <h3 class="card-title">XXXX Km</h3>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title ">Live trip</h4>
            <p class="card-category"> Start recording a live trip </p>
        </div>
        <div class="card-body"></div>
    </div>
</div>
  